@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

:root {
  --color-shadows: #aaaaaa;
}

* {
  font-family: "Roboto", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  scroll-behavior: smooth;
}

body {
  background: var(--color-shadows);
}

.border-glass {
  border: solid 2px rgba(255, 255, 255, 0.2);
}
