@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

:root {
  --color-shadows: #aaaaaa;
  --black: #070707;
  --purple: #625dd1;
  --dark-purple: #454195;
  --blue: #242445;
}

* {
  scroll-behavior: smooth;
}

body {
  background-color: var(--black);
}

#home,
#projects {
  background-image: linear-gradient(var(--blue) 0.1em, transparent 0.1em),
    linear-gradient(90deg, var(--blue) 0.1em, transparent 0.1em);
  background-size: 5em 5em;
}

.border-glass {
  border: solid 2px rgba(255, 255, 255, 0.2);
}

.text-gradient {
  background: -webkit-linear-gradient(#ffffff, #07090e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.text-glowing:hover {
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #fff, 0 0 80px #fff,
    0 0 120px #fff;
}

.glowing-effect:hover {
  box-shadow: 0 0 30px #9a76ff;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
}
